{% extends 'accounts/base.html' %}
{% block title %}Change Password - Job Portal{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-6">
        <div class="card shadow-lg border-0">
            <div class="card-body p-5">
                <h2 class="mb-4 text-center"><i class="fa-solid fa-key text-secondary"></i> Change Password</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex gap-2 justify-content-center mt-4">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-key"></i> Change Password</button>
                        <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 